
@{
    ViewBag.Title = "Lỗi xóa hóa đơn";
    Layout = "~/Areas/NhanVienBep/Views/Shared/_LayoutNhanVienBep.cshtml";
}

<h2>Tình trạng hóa đơn chưa được thanh toán</h2>
<span>Vui lòng thanh toán hóa đơn trước khi xóa. Vì xóa hóa đơn chưa thanh toán liên quan đến món ăn chế biến</span>

